header{
    width: 100%;
    padding: 20px 10%;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-1);
    z-index: 999;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar i{
    cursor: pointer;
}

#nav_logo{
    font-size: 24px;
    color: var(--color-primary-4);
    letter-spacing: 3px;
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
    align-items: center;
}

.nav-item a{
    text-decoration: none;
    color: var(--color-neutral-2);
    font-weight: 600;
}

.nav-item.active a{
    color: var(--color-neutral-2);
    border-bottom: 3px solid var(--color-primary-3);
}

#mobile_btn{
    display: none;
}

#mobile_menu{
    display: none;
}

#mobile_btn i {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#mobile_btn i.fa-x {
    transform: rotate(180deg); /* Animação de rotação para o ícone "fa-x" */
}


@media screen and (max-width: 1170px){
    #nav_list {
        display: none;
        transform: translateX(0);
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu {
        display: none;
    }

    #mobile_menu.active {
        display: block;
    }

    #mobile_nav_list {
        display: flex;
        gap: 7rem;
        position: absolute;
        top: 10vh;
        right: 12.5rem;
        width: 50vw;
        height: 100vh;
        background-color: var(--color-primary-1);
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease;
        padding-top: 2rem;
    }

    #mobile_nav_list.active {
        display: flex;
        transform: translateX(0);
    }

    .nav-item {
        list-style: none;
        text-align: center;
    }
}
