@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('reset.css');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('testimonials.css');
@import url('footer.css');
@import url('socials.css');

:root{
    --color-primary-1:#dddddd;
    --color-primary-2: #f7d2d2;
--color-primary-3: #e20000;
--color-button: #cf4040;
--color-primary-4: #990202;

    --color-neutral-0:#fff;
    --color-neutral-1:#1d1d1d;
    --color-neutral-2:#3e3e3e;
}

body{
    background-color: var(--color-primary-1);
}

section{
    padding: 28px 8%;
    width: 100%;
}

/* From Uiverse.io by SujitAdroja */ 
.btn-default{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid var(--color-button);
    padding: 7px 15px;
    font-size: 17px;
    border-radius:10px;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
  }
  
  .btn-default:hover {
    color: white;
  }
  
  .btn-default::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: var(--color-button);
    z-index: -1;
    transition: all 1s;
  }
  
  .btn-default:hover::before {
    width: 250%;
  }
  

.social-media-buttons{
    display: flex;
    gap: 18px;
}

.social-media-buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--color-neutral-0);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-neutral-2);
    transition: box-shadow 0.3s ease;
}

.social-media-buttons a:hover{
    box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.1);
}

.section-tittle{
    color: var(--color-primary-4);
    font-size: 1.563rem;
}

.section-subtittle{
    font-size: 2.1875rem;
}

@media screen and (max-width: 600px){
    .btn-default{
        font-size: 14px;
        padding: 10px 10px;
    }
}